{
	admin off
}
https://fbi.com {
	tls internal
	respond `Welcome to FBI-PROXY`
}
https://*.fbi.com {
	tls internal
	@proxyhostport header_regexp service Host (.+?).fbi.com
	reverse_proxy @proxyhostport http://fbi.com {
		header_up Host {re.service.1}.fbi.com
	}
}
http://*.fbi.com {
	respond 502
}

# sites

http://activitywatch.fbi.com {
  reverse_proxy :5600
}

http://aw.fbi.com {
  reverse_proxy :5600
}

http://calibre.fbi.com {
  reverse_proxy :7250
}

http://clash.fbi.com {
  reverse_proxy :7890
}

http://code.fbi.com {
  reverse_proxy :8000
}

http://comfy.fbi.com {
  reverse_proxy :8188
}

http://et.fbi.com {
  reverse_proxy :2489
}

http://everything.fbi.com {
  reverse_proxy :2489
}