{
	admin off
	# TODO: add ondemand tls endpoint to cli.ts
	# - [Global options (Caddyfile) — Caddy Documentation]( https://caddyserver.com/docs/caddyfile/options#on-demand-tls )
	# make a endpoint to handle /CHECK_TLS?domain=..., and return 200 if domain is valid
	# 
	# on_demand_tls {
	# 	ask http://localhost:{$PROX}/CHECK_TLS
	# }
}

# unwrap all https
*, *.*, *.*.*, *.*.*.* {
	tls internal {
		on_demand
	}
	reverse_proxy :{$PROX}
}
